/* ============================================ NAVBAR ============================================ */
nav {
  font-family: "Raleway", sans-serif;
  color: white !important;
}

nav .jse {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  color: #e21e2c;
}

nav .express {
  font-weight: 500;
  font-size: 1rem;
}

nav .nav-link {
  /* background-color: #e21e2c; */
  font-weight: 500;
  font-size: 15px;
  border-radius: 4px;
  padding: 2px 10px;
  margin: 0 10px;
}

/* ============================================== CARD ============================================== */
.wrapper {
  font-family: "Raleway", sans-serif;
  background: #ececec;
  padding: 0 20px 0 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
}

.side-image {
  background-image: url("../../src/images/adminLoginSignup-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  position: relative;
  text-align: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.row {
  width: 70vw;
  height: 600px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text p {
  color: #fff;
  font-size: 20px;
}

i {
  font-weight: 400;
  font-size: 15px;
}

/* ========================================== RIGHT CARD ========================================== */
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box {
  width: 330px;
  box-sizing: border-box;
}

img {
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* ========================================= LEFT CARD ========================================== */
.input-box header {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 45px;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
  margin-bottom: 0.5rem;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field input:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.input-field .input:focus,
.input-field .input:valid {
  border-bottom: 1px solid rgb(226, 30, 44);
}

.submit {
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: 0.4s;
  font-weight: 600;
}

.submit:hover {
  background: rgb(226, 30, 44);
  color: #fff;
}

.signin {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

span a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(226, 30, 44);
  transition: 0.5s;
}

span a:hover {
  text-decoration: underline;
  color: rgb(226, 30, 44);
}

/* ============================================ FOOTER ============================================ */
#footer {
  display: flex;
  background-color: #2b3035;
  height: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  bottom: 0;
  position: sticky;
  top: 100%;
}

footer h3 {
  font-size: 20px;
}

footer img {
  height: 40px;
  width: 40px;
}

footer .content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* =========================================== RESPONSIVE =========================================== */
@media only screen and (max-width: 768px) {
  .side-image {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
  }
  h2 {
    margin-bottom: 50px;
  }
  img {
    width: 35px;
    position: absolute;
    top: 20px;
    left: 47%;
  }
  .text {
    position: absolute;
    top: 70%;
    text-align: center;
  }
  .text p,
  i {
    font-size: 16px;
  }
  .row {
    max-width: 420px;
    height: 700px;
    width: 100%;
  }
}
