body {
  font-family: "Roboto condensed", sans-serif;
  min-height: 100vh;
}

nav {
  font-family: "Raleway", sans-serif;
  color: white !important;
  height: min-content;
}

nav .jse {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  color: #e21e2c;
}

nav .express {
  font-weight: 500;
  font-size: 1rem;
}

.right-nav a:hover {
  background-color: rgba(226, 30, 44, 0.7) !important;
  color: white;
}

.total-cost {
  margin-bottom: 4rem;
}

.container h2 {
  margin: 2rem 0;
  font-weight: 700;
  color: #e21e2c;
  font-family: "Raleway", sans-serif;
}

.request-delivery h2 {
  color: black;
}

.submit {
  margin-bottom: 2rem;
  border-radius: 4px;
  font-size: 1.4rem;
  border: none;
  padding: 7px 45px;
  font-weight: 500;
  background-color: #e21e2c !important;
}

button:hover,
button:focus {
  background-color: #ff4351 !important;
}

.info {
  margin-bottom: 1rem;
}

.information p {
  font-size: 20px;
}

.total-cost h2 {
  margin-top: 3rem;
  font-weight: 700;
  color: #e21e2c;
  font-family: "Raleway", sans-serif;
}
.total-cost .cost {
  color: black;
}

#footer {
  display: flex;
  background-color: #2b3035;
  height: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  bottom: 0;
  position: sticky;
  top: 100%;
}

footer h3 {
  font-size: 20px;
}

footer img {
  height: 40px;
  width: 40px;
}

footer .content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
